@model Wedding

<div style="display: flex; justify-content: space-between;">
    <h2>@Model.Wedder1Name and @Model.Wedder2Name's Wedding!</h2>
    <div>
        <a asp-controller="Wedding" asp-action="WeddingDisplay">Dashboard</a> | <form asp-controller="Home"
            asp-action="Logout" method="POST"><button class="btn btn-link">Logout</button></form>
    </div>
</div>
<div>Date: @Model.WeddingDate.ToString("MMMM dd, yyyy")</div>

<div>
    <div>Guests:</div>
    @foreach (var guest in Model.RSVP)
    {
        <p>@guest.User.FirstName @guest.User.LastName</p>
    }
</div>
